/*
 * Base structure
 */

/* Move down content because we have a fixed navbar that is 50px tall */
body {
  padding-top: 50px;
}

button.btn-logout {
  border: 0px;
  padding: 3px 20px;
  min-width: 100%;
  text-align: left;
}
